<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe.coffeejava.feed.FeedMapper">

    <insert id="insFeed" useGeneratedKeys="true" keyProperty="feedId">
        INSERT INTO feed
        SET user_id = #{userId},
        district_id = #{districtId},
        title = #{title},
        cafe_name = #{cafeName},
        content = #{content}
    </insert>

    <update id = "updViewCount">
        UPDATE feed
        SET view_count = view_count + 1
        WHERE feed_id = #{feedId}
    </update>
    
    <select id="getFeedList">
        SELECT A.feed_id AS feedId, A.title, B.nickname, DATE(A.created_at) AS createdAt,
            A.view_count AS viewCount, COUNT(C.feed_id) AS feedLike
        FROM feed A
        INNER JOIN `user` B
        ON A.user_id = B.user_id
        LEFT JOIN likes C
        ON A.feed_id = C.feed_id
        GROUP BY A.feed_id, title, nickname, DATE(A.created_at), view_count
    </select>

    <select id="getFeedListByDistrict">
        SELECT A.feed_id AS feedId, A.title, B.nickname, DATE(A.created_at) AS createdAt,
        A.view_count AS viewCount, COUNT(C.feed_id) AS feedLike
        FROM feed A
        INNER JOIN `user` B
        ON A.user_id = B.user_id
        LEFT JOIN likes C
        ON A.feed_id = C.feed_id
        WHERE A.district_id = #{districtId}
        GROUP BY A.feed_id, title, nickname, DATE(A.created_at), view_count
    </select>

    <select id="getFeedDetailList">

    </select>

    <update id="updFeed">
        UPDATE feed
        <set>
            <if test="districtId != null and districtId != '' ">
                district_id = #{districtId},
            </if>
            <if test="title != null and title != '' ">
                title = #{title},
            </if>
            <if test="cafeName != null and cafeName != '' ">
                cafe_name = #{cafeName},
            </if>
            <if test="content != null and content != '' ">
                content = #{content}
            </if>
        </set>
        WHERE feed_id = #{feedId} and user_id = #{userId}
    </update>

    <select id="findUserIdByFeedId" resultType="long">
        SELECT user_id
        FROM feed
        WHERE feed_id = #{feedId}
    </select>

    <delete id="delFeed">
        DELETE FROM feed
        WHERE feed_id = #{feedId} and user_id = #{userId}
    </delete>
</mapper>